.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store
Thumbs.db
desktop.ini


backend/target/
backend/out/
backend/.mvn/
backend/*.jar
backend/*.war
backend/*.ear
backend/bin/
backend/.classpath
backend/.project
backend/.settings/

backend/src/main/resources/application.properties
backend/src/main/resources/google-credentials.json

#Eu seria maluca de subir a api inteira do evolution
evolution/

*.log
logs/
temp/
tmp/
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
